<html>
{% load static %}

<head>
    <title>chat UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="https://blog.csdn.net/q475254344">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon36.png' %}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>
<script>
    document.getElementsByTagName('body').height = window.innerHeight;
</script>
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
<body class="box">
    <div class="leftbar">
        <ul>
            <a href="{% url 'chart' %}"> <li><i class="fas fa-user"></i></li></a>
            <a href="{% url 'logout' %}"><li><i class="fas fa-power-off"></i></li></a>
            <!-- <li><i class="fas fa-users"></i></li>
            <li><i class="fas fa-smile"></i></li>
            <li><i class="fas fa-envelope"></i></li>
            <li><i class="fas fa-bell"></i></li>
            <li><i class="fas fa-calendar-alt"></i></li>
            <li><i class="fas fa-power-off"></i></li> -->
        </ul>
    </div>
    <div class="container">
        <div class="chatbox">
            <div class="chatleft" >
                <div class="top">
                    <i class="fas fa-bars" style="font-size: 1.4em"></i>
                    <!-- <input type="text" placeholder="search" style="width: 140px; height: 36px; margin-left: 25px;"> -->
                    &nbsp;&nbsp;<a href="{% url 'search' %}"><button class="sendbtn">record</button></a>
                    <!-- <a href="/"><button class="searchbtn"><i class="fas fa-search"></i></button></a> -->
                    <a href="/"><button class="searchbtn">chat</button></a>&nbsp;&nbsp;
                </div>
                <div class="center">
                    <ul>
                        <a href="{% url 'mode1' %}">
                            <li>
                                <img style="border-radius: 20px; vertical-align: middle;" src="{% static 'images/icon36.png' %}" width="40px">
                                <span style="margin-left: 10px;">灵魂小伴侣</span>
                            </li>
                        </a>
                        <a href="{% url 'mode2' %}">
                            <li>
                                <img style="border-radius: 20px; vertical-align: middle;" src="{% static 'images/icon36.png' %}" width="40px">
                                <span style="margin-left: 10px;">饮食小伴侣</span>
                            </li>
                        </a>

                    </ul>
                </div>
            </div>
            <div class="chatright">
                <div class="top">
                    <img style="border-radius: 20px; vertical-align: middle;" src="{% static 'images/icon36.png' %}" width="40px">
                    {% if mode == '1'%}
                    <span style="margin-left: 20px;">灵魂小伴侣</span>
                    {% endif %}
                    {% if mode == '2'%}
                    <span style="margin-left: 20px;">饮食小伴侣</span>
                    {% endif %}
                    <!-- <i  style="font-size: 1em; position: absolute; right: 20px; color: gray;"><a href="{% url 'logout' %}"><button class="sendbtn">logout</button></a></i> -->
                </div>
                {% block content %}
                {% if recevie %}
                <div class="center">
                    <ul>
                        {% if comment %}
                        <li class="msgright">
                            <p class="msgcard">{{ comment }}</p>
                        </li>
                        {% endif %}
                        {% if pic_path %}
                        <li class="msgright">
                            <img class="msgpic" src={{ pic_path.url}} height="100" width="100" align="right"/>
                        </li>
                        {% endif %}
                        <li class="msgleft">
                            <img style="border-radius: 20px; vertical-align: top;" src="{% static 'images/icon36.png' %}" width="40px">
                            <p class="msgcard">{{ recevie }}</p>
                        </li>

                    </ul>
                </div>
                
                {% else %}
                <div class="center">

                </div>
                {% endif %}
                <div class="footer">
                    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="file" name="fafafa">
                        <input type="submit">
                    </form>
                    <!-- <input type="file" name="file" value="上传图片" id="file_upload">
                    <input type="button" value="上传" onclick="FileUpload()"> -->
                    <form method="post" action="{% url 'index' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="comment" maxlength="800" rows="5" cols="40" style="width: 100%; resize: none; border: none; "
                            placeholder="请在此输入要发送的内容..."></textarea>
                        <button class="sendbtn" style="margin-top: -20px;">发送</button>
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<!-- <script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    function FileUpload() {
            var form_data = new FormData();
            var file_info =$('#file_upload')[0].files[0];
            alert(file_info)
            form_data.append('file',file_info);
            //if(file_info==undefined)暂且不许要判断是否有附件
                //alert('你没有选择任何文件');
                //return false
            $.ajax({
                url:'/upload_ajax/',
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback) {

                    console.log('ok')
                }
            });

            }</script> -->
</html>